
  
h1,h3{
    color: #007EFC
 }

.p-button {
    background-color: #007EFC !important;
    
    &:hover {
      background-color: #016cd6 !important;
    }
  } 


  .p-button .delete {
    background-color: #fc0000 !important;
    
    &:hover {
      background-color: #ff4d40 !important;
    }
  } 

  .p-float-label{
    label {
      color: #007EFC !important;
      
      &.p-filled {
        color: #007EFC !important;
      }
    }
    
    input:focus ~ label {
      color: #0D274E !important;
    }
  } 


  .p-calendar:enabled:focus {
    border-color: #007EFC !important;
  } 

  .p-inputtext:enabled:focus,
  .p-inputtextarea:enabled:focus {
    border-color: #007EFC !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 126, 252, 0.2) !important;
  }


  .p-fileUpload {
    .p-button {
      background-color: #007EFC !important;
      
      &:hover {
        background-color: #016cd6 !important;
      }
    }
    
    .p-fileupload-content {
      border: 1px dashed #007EFC;
    }
  }
