<div class="pt-5 px-5">
    <div class="font-bold flex items-center justify-between w-full min-w-[250px]">
        <h3 class="text-lg whitespace-nowrap">{{ 'FILTER.FILTER_BY' | translate }}</h3>
        <button class="text-[#d2d2d2] text-sm whitespace-nowrap flex items-center gap-1 cursor-pointer"
            (click)="resetAll()">
            {{ 'FILTER.RESET_ALL' | translate }}
            <i class="pi pi-times text-sm"></i>
        </button>
    </div>

    <div class="mt-6">
        <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input type="text" pInputText [placeholder]="'FILTER.SEARCH' | translate" class="w-full" [(ngModel)]="searchText"
                (ngModelChange)="onSearchChange()" />
        </p-iconfield>
    </div>
    <div class="mt-6 mb-3 flex justify-between items-center">
        <span class="text-sm font-bold">{{ 'FILTER.AVAILABLE_NOW' | translate }}</span>
        <p-toggleswitch [(ngModel)]="availableNow" (ngModelChange)="onAvailabilityChange()" />
    </div>
</div>
<p-divider />
<div>
    <p-accordion [value]="['0']" [multiple]="true">
        <p-accordion-panel value="0">
            <p-accordion-header>
                <p class="text-sm font-bold">{{ 'FILTER.PRICE_RANGE' | translate }}</p>
            </p-accordion-header>
            <p-accordion-content>
                <app-price-range-filter (priceChange)="onPriceRangeChange($event)">
                </app-price-range-filter>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="1">
            <p-accordion-header>
                <p class="text-sm font-bold">{{ 'FILTER.CAR_BRAND' | translate }}</p>
            </p-accordion-header>
            <p-accordion-content>
                <app-checkbox-filter-component [items]="brands" [selectedItems]="selectedBrands"
                    (selectedItemsChange)="onBrandsChange($event)"></app-checkbox-filter-component>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="2">
            <p-accordion-header>
                <p class="text-sm font-bold">{{ 'FILTER.BODYSTYLE' | translate }}</p>
            </p-accordion-header>
            <p-accordion-content>
                <app-checkbox-filter-component [items]="carBodyTypes" [selectedItems]="selectedBodyTypes"
                    (selectedItemsChange)="onBodyTypesChange($event)"></app-checkbox-filter-component>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="3">
            <p-accordion-header>
                <p class="text-sm font-bold">{{ 'FILTER.TRANSMISSION' | translate }}</p>
            </p-accordion-header>
            <p-accordion-content>
                <app-radio-filter-component [items]="transmissionTypes" [selectedItem]="selectedTransmissionType"
                    (selectionChange)="onTransmissionChange($event)"></app-radio-filter-component>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="4">
            <p-accordion-header>
                <p class="text-sm font-bold">{{ 'FILTER.FUEL_TYPE' | translate }}</p>
            </p-accordion-header>
            <p-accordion-content>
                <app-checkbox-filter-component [items]="fuelTypes" [selectedItems]="selectedFuelTypes"
                    (selectedItemsChange)="onFuelTypesChange($event)"></app-checkbox-filter-component>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>

</div>
