<div class="p-6  ml-12 space-y-6  min-h-screen ">

  <!-- Header -->
  <h1 class="text-2xl font-semibold text-blue-500">Overview</h1>

  <!-- Summary Cards -->
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-5 gap-6 ">

    <div class="bg-white rounded-xl p-4 shadow border-l-4 border-l-green-400">
     <div class="flex items-center gap-3 mb-2">
      <span class="bg-green-400 p-2 rounded-full w-10 h-10 flex items-center justify-center">
      <i class="pi pi-dollar text-white text-xl "></i>
      </span>
      <p class="text-sm text-gray-400">Total Profit</p>
    </div>
      <h3 class="text-xl font-bold mt-2">EGP 93,247.38</h3>
    </div>

    <div class="bg-white rounded-xl p-4 shadow border-l-4 border-l-pink-500">
      <div class="flex items-center gap-3 mb-2">
      <span class="bg-pink-500 p-2 rounded-full w-10 h-10 flex items-center justify-center">
      <i class="pi pi-chart-line text-white text-xl animate-pulse"></i>
      </span>
      <p class="text-sm text-gray-400">Total renteling</p>
      </div>
      <h3 class="text-xl font-bold mt-2">EGP 8,49,752.01</h3>
    </div>

    <div class="bg-white rounded-xl p-4 shadow border-l-4 border-l-blue-500">
      <div class="flex items-center gap-3 mb-2">
      <span class="bg-blue-500 p-2 rounded-full w-10 h-10 flex items-center justify-center">
      <i class="pi pi-car text-white text-xl"></i>
      </span>
      <p class="text-sm text-gray-400">All cars</p>
      </div>
      <h3 class="text-xl font-bold mt-2">8,200</h3>
    </div>

    <div class="bg-white rounded-xl p-4 shadow border-l-4 border-l-purple-500">
      <div class="flex items-center gap-3 mb-2">
      <span class="bg-purple-500 p-2 rounded-full w-10 h-10 flex items-center justify-center">
      <i class="pi pi-car text-white text-xl "></i>
      </span>
      <p class="text-sm text-gray-400">Rented cars</p>
      </div>
      <h3 class="text-xl font-bold mt-2">5,600</h3>
    </div>
    
     <div class="bg-white rounded-xl p-4 shadow border-l-4 border-l-yellow-500">
      <div class="flex items-center gap-3 mb-2">
      <span class="bg-yellow-500 p-2 rounded-full w-10 h-10 flex items-center justify-center">
      <i class="pi pi-wrench text-white text-xl animate-spin"></i>
      </span>
      <p class="text-sm text-gray-400">Under Maintenance cars</p>
      </div>
      <h3 class="text-xl font-bold mt-2">834</h3>
    </div>

  </div>

  <!-- Car Section -->
  <div class="grid grid-cols-1 xl:grid-cols-3 gap-6  ">
    <div class="bg-white p-4 rounded-xl shadow col-span-2">
      <h3 class="text-lg font-bold mb-2">Top Renteling Cars</h3>
      <table class="min-w-full text-sm text-left text-gray-700 ">
    <thead class="uppercase text-xs text-gray-500 bg-gray-100 ">
      <tr>
        <th class="px-6 py-3">Model</th>
        <th>Times Rented</th>
        <th>Total Revenue</th>
        <th>Last Rented</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-50 transition">
        <td class="px-6 py-4">BMW XM 2024</td>
        <td class="px-6 py-4">42</td>
        <td class="px-6 py-4">78,000 EGP</td>
        <td class="px-6 py-4">12 May 2025</td>
      </tr>
      <tr class="border-b border-gray-200 dark:border-gray-700 hover:bg-gray-50 transition">
        <td class="px-6 py-4 ">BMW X4 M40i</td>
        <td class="px-6 py-4">38</td>
        <td class="px-6 py-4">65,000 EGP</td>
        <td class="px-6 py-4">10 May 2025</td>
      </tr>
      <tr class="border-b border-gray-200 hover:bg-gray-50 transition">
        <td class="px-6 py-4">BMW XM 2024</td>
        <td class="px-6 py-4">42</td>
        <td class="px-6 py-4">78,000 EGP</td>
        <td class="px-6 py-4">12 May 2025</td>
      </tr>
      <tr class="border-b border-gray-200 dark:border-gray-700 hover:bg-gray-50 transition">
        <td class="px-6 py-4 ">BMW X4 M40i</td>
        <td class="px-6 py-4">38</td>
        <td class="px-6 py-4">65,000 EGP</td>
        <td class="px-6 py-4">10 May 2025</td>
      </tr>
      <tr class="border-b border-gray-200 hover:bg-gray-50 transition">
        <td class="px-6 py-4">BMW XM 2024</td>
        <td class="px-6 py-4">42</td>
        <td class="px-6 py-4">78,000 EGP</td>
        <td class="px-6 py-4">12 May 2025</td>
      </tr>
      
    </tbody>
    </table>
    </div>

  <div class="bg-white p-4 rounded-2xl shadow-md hover:shadow-xl transition-shadow duration-300">
  <h3 class="text-xl font-bold text-gray-800 mb-3 flex items-center gap-2">
  Recent Car Listings
  </h3>

  <img src="images/car3.png" class="rounded-lg mb-4 ml-12 " alt="Car" />

 <div class="flex items-center justify-between mb-3 text-lg">
  <span class="text-[#0D274E] font-semibold">
    $60 / hour
  </span>
  <div class="flex items-center gap-1 text-yellow-400">
    <i class="pi pi-star-fill"></i>
    <i class="pi pi-star-fill"></i>
    <i class="pi pi-star-fill"></i>
    <i class="pi pi-star-fill"></i>
    <i class="pi pi-star"></i>
  </div>
</div>

   


  <div class="grid grid-cols-2 gap-3 text-sm">
    <div class="bg-[#0D274E] text-white px-3 py-2 rounded-lg text-center font-medium hover:scale-105 transition-transform duration-200">
      Hybrid Car
    </div>
    <div class="bg-[#0D274E] text-white px-3 py-2 rounded-lg text-center font-medium hover:scale-105 transition-transform duration-200">
      653 HP
    </div>
    <div class="bg-[#0D274E] text-white px-3 py-2 rounded-lg text-center font-medium hover:scale-105 transition-transform duration-200">
      Smart AC
    </div>
    <div class="bg-[#0D274E] text-white px-3 py-2 rounded-lg text-center font-medium hover:scale-105 transition-transform duration-200">
      Smart Control
    </div>
  </div>

 

</div>


  </div>

</div>
