<section class="w-screen  py-8 md:py-12 text-center bg-[var(--color-grayLight)] px-20  my-5">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center ">
    <!-- Left Content -->
    <div class="relative">
      <div class="absolute -top-10 -left-10 w-32 h-32 bg-blue-100 rounded-full z-0 hidden lg:block"></div>

      <div class="relative bg-white p-4 md:p-8 rounded-xl shadow-lg z-10 flex flex-col lg:flex-row items-center justify-between lg:h-80 h-auto gap-4">
        <div class="w-full lg:w-1/2 h-48 lg:h-full">
          <img src="images/why_choose_us/car1.webp" alt="Professional" class="w-full h-full rounded-2xl object-cover border-4 border-white shadow-md blur-xs hover:blur-none">
        </div>

        <div class="text-center absolute left-1/2 transform -translate-x-1/2 top-1/2 -translate-y-1/2  px-6 py-4 bg-blue-500 text-white rounded-lg mx-auto lg:mx-0 shrink-0 z-10">
          <div class="text-3xl font-bold">14</div>
          <div class="text-sm uppercase tracking-wider">Years Of Experience</div>
        </div>

        <div class="w-full lg:w-1/2 h-48 lg:h-full">
          <img src="images/why_choose_us/car2.png" alt="Certificate" class="w-full h-full rounded-2xl object-cover border-4 border-white shadow-md blur-xs hover:blur-none">
        </div>
      </div>

      <div class="absolute -bottom-10 -right-10 w-32 h-32 bg-blue-100 rounded-full z-0 hidden lg:block"></div>

    </div>

    <!-- Right Content -->
    <div class="space-y-8 ">
      <h1 class=" text-4xl  font-bold leading-tight text-[var(--color-dark-blue)]">
        THE BEST CAR RENTAL SERVICE IN EGYPT
      </h1>

      <p class="text-lg md:text-xl text-gray-600 ">
        Experience Egypt's wonders with our premium car rental service. From ancient pyramids to pristine beaches, explore at your own pace with vehicles you can trust and service that exceeds expectations.
      </p>


      <div class="flex md:flex-row flex-col items-start md:items-center justify-around gap-7 p-6 ">
        <!-- Why Choose Rently Section -->
        <div class="text-center">
          <h2 class="text-3xl font-bold text-blue-600 mb-8 text-nowrap">Why Choose Rently</h2>
          <div class="flex flex-col gap-4 text-left">
            <div class="flex items-start gap-2">
              <span class="text-orange-500">✔</span>
              <span>Wide Vehicle Selection</span>
            </div>
            <div class="flex items-start gap-2">
              <span class="text-orange-500">✔</span>
              <span>24/7 Roadside Assistance</span>
            </div>
            <div class="flex items-start gap-2">
              <span class="text-orange-500">✔</span>
              <span>No Hidden Fees</span>
            </div>
          </div>
        </div>

        <!-- Our Services Section -->
        <div class="text-center">
          <h2 class="text-3xl font-bold text-blue-600 mb-8 text-nowrap">Our Services</h2>
          <div class="flex flex-col gap-4 text-left">
            <div class="flex items-start gap-2">
              <span class="text-orange-500">✔</span>
              <span>Airport Pickup/Drop</span>
            </div>
            <div class="flex items-start gap-2">
              <span class="text-orange-500">✔</span>
              <span>Long-Term Rentals</span>
            </div>
            <div class="flex items-start gap-2">
              <span class="text-orange-500">✔</span>
              <span>Corporate Accounts</span>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>
