<div class="py-8 bg-white">
  <div class="text-center max-w-2xl mx-auto mb-10">
    <h1 class="text-3xl md:text-4xl font-bold text-dark-blue mb-4">
      {{ 'MOST_POPULAR_CARS.TITLE' | translate }}
    </h1>
    <p class="text-dark-blue text-base md:text-lg">
      {{ 'MOST_POPULAR_CARS.SUBTITLE' | translate }}
    </p>
    <a class="mt-6 inline-flex items-center px-6 py-3 text-sm font-semibold rounded-lg transition duration-300
    text-white
    bg-light-blue
    hover:bg-blue-700
    focus:outline-none focus:ring-4 focus:ring-blue-300
    dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800
    disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed disabled:hover:bg-gray-300"
      [class.opacity-60]="!cars.length" [class.pointer-events-none]="!cars.length"
      (click)="cars.length ? viewMostPopularCars() : null">
      {{ 'MOST_POPULAR_CARS.VIEW_ALL' | translate }}
      <svg class="w-4 h-4 ml-2 rtl:rotate-180 transition-transform duration-300" [class.opacity-0]="!cars.length"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9" />
      </svg>
    </a>

  </div>

  @if(isLoading) {
  <div class="flex flex-col items-center justify-center py-10">
    <div class="w-12 h-12 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"></div>
    <p class="mt-4 text-dark-blue text-lg font-medium">{{ 'MOST_POPULAR_CARS.LOADING' | translate }}</p>
  </div>
  } @else {
  @if(cars.length != 0){
  <app-card-carousel [carDetails]="cars" fromWho="home"></app-card-carousel>
  }
  @else{
  <p class="text-center text-gray-500 text-lg mt-12 animate-fade-in">{{ 'MOST_POPULAR_CARS.NO_CARS' | translate }}</p>
  }
  }
</div>
