<app-layout>

  <div class=" p-6 bg-white rounded-xl shadow-md m-10 profile-section">
  <h2 class="text-2xl font-bold mb-4 text-[var(--color-dark-blue)] ">My Profile</h2>

  <!-- Tabs -->
 <div class="flex space-x-4 border-b pb-2">
  @for (tab of tabs; track tab.value) {
    <button
      (click)="activeTab = tab.value"
      [class.border-b-2]="activeTab === tab.value"
      class="pb-2 font-medium hover:text-blue-600 cursor-pointer"
    >
      {{ tab.label }}
    </button>
  }
</div>


  <!-- Tab Content -->
  <div class="mt-6">
    <!-- Info Tab -->
     @if(activeTab === 'info') {
    <div>
      <h3>User Info</h3>
      <p><strong>Name:</strong> {{ profileData.profile.first_name }}  {{ profileData.profile.last_name }}</p>
      <p><strong>Email:</strong> {{ profileData.user.email }}</p>
      <p><strong>Phone:</strong> {{ profileData.profile.phone_number }}</p>
      <p><strong>City:</strong> {{ profileData.profile.location }}</p>
      <p><strong>Status:</strong> {{ profileData.profile.verification_status }}</p>
    </div>
     }
     @else if(activeTab === 'documents') {
    <!-- Documents Tab -->
    <div>
      <ul class="list-disc pl-5">
        <li>
      <a href="#">License.jpg</a>
      <img [src]="licenseImageUrl"
       alt="Driver License"
       class="max-w-xs rounded shadow" />
      </li>
      </ul>
    </div>
     }
     @else{
 <!-- Current Order Tab -->
    <div >
      <p><strong>Order #2345</strong></p>
      <p>Status: Processing</p>
      <p>car info : </p>
    </div>
     }

</div>

  </div>

</app-layout>
