<footer class="bg-dark-blue text-white py-12 px-6 md:px-20 relative overflow-hidden">
  <!-- Decorative Circles -->
  <div class="absolute top-0 right-0 w-50 h-50 rounded-full bg-grayLight opacity-5 -translate-y-1/3 translate-x-1/3"></div>
  <div class="absolute bottom-0 left-0 w-50 h-50 rounded-full bg-grayLight opacity-5 translate-y-1/3 -translate-x-1/3"></div>

  <div class="absolute top-0 right-0 w-100 h-100 rounded-full bg-grayLight opacity-5 -translate-y-1/3 translate-x-1/3 "></div>
  <div class="absolute bottom-0 left-0 w-100 h-100 rounded-full bg-grayLight opacity-5 translate-y-1/3 -translate-x-1/3"></div>

  <div class="absolute top-0 right-0 w-75 h-75 rounded-full bg-grayLight opacity-5 -translate-y-1/3 translate-x-1/3 "></div>
  <div class="absolute bottom-0 left-0 w-75 h-75 rounded-full bg-grayLight opacity-5 translate-y-1/3 -translate-x-1/3"></div>

  <div class="absolute top-0 right-0 w-120 h-120 rounded-full bg-grayLight opacity-5 -translate-y-1/3 translate-x-1/3 "></div>


  <div class="absolute top-0 right-0 w-150 h-150 rounded-full bg-grayLight opacity-5 -translate-y-1/3 translate-x-1/3 "></div>

  <div class="absolute top-0 right-0 w-170 h-170 rounded-full bg-grayLight opacity-5 -translate-y-1/3 translate-x-1/3 "></div>

  <div class="flex flex-col justify-between gap-10 items-center relative z-10">
    <!-- Logo & Description -->
    <div class="max-w-sm text-center flex justify-center items-center flex-col">
      <img src="images/logo2.png" alt="Carveo Logo" class="w-28 mb-4" />
      <p>{{"FOOTER.TITLE"|translate}}</p>
      <p class="font-bold mt-3">{{"FOOTER.DESCRIPTION"|translate}}</p>
    </div>

    <hr class="border-grayLight w-full my-2 border-1" />

    <!-- Links -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
      <div>
        <h4 class="font-bold md:text-xl mb-8">EXPLORE</h4>
        <ul class="space-y-5 text-sm">
          <li><a [routerLink]="['/cars']" routerLinkActive="active" class="hover:underline">{{"FOOTER.CAR"|translate}}</a></li>
          <li><a [routerLink]="['/about-us']" routerLinkActive="active" class="hover:underline">{{"FOOTER.ABOUT"|translate}}</a></li>
          <!-- <li><a [routerLink]="['/news']" routerLinkActive="active" class="hover:underline">News</a></li> -->
          <li><a [routerLink]="['/contact-us']" routerLinkActive="active" class="hover:underline">{{"FOOTER.CONTACT"|translate}}</a></li>
        </ul>
      </div>
      <div>
        <h4 class="font-bold md:text-xl mb-8">{{"FOOTER.QUICK_LINK"|translate}}</h4>
        <ul class="space-y-5 text-sm">
          <li><a [routerLink]="['/Policy']" routerLinkActive="active" class="hover:underline">{{"FOOTER.PRIVACY"|translate}}</a></li>
          <li><a [routerLink]="['/terms-and-conditions']" routerLinkActive="active" class="hover:underline">{{"FOOTER.TERMS"|translate}}</a></li>
          <li><a [routerLink]="['/Disclaimer']" routerLinkActive="active" class="hover:underline">{{"FOOTER.Disclaimer"|translate}}</a></li>
          <li><a [routerLink]="['/faq']" routerLinkActive="active" class="hover:underline">{{"FOOTER.FAQ"|translate}}</a></li>
        </ul>
      </div>
      <div class="mb-4">
        <h4 class="font-bold md:text-xl mb-8 ">{{"FOOTER.QUICK"|translate}}</h4>
        <ul class="space-y-5 text-sm wrap-break-word max-w-3/4">
          <li class="flex items-center gap-2">
            <i class="fa-solid fa-location-dot fa-xl"></i>
            Mansoura, 7650001, ITI, EG
          </li>
          <li class="flex items-center gap-2">
            <i class="fa-solid fa-building fa-xl"></i>
            Office ITI, EG 7650001
          </li>
          <li class="flex items-center gap-2">
            <i class="fa-solid fa-phone fa-xl"></i>
            <a href="tel:+05551234567" class="hover:underline">+20 123 456 7890</a>
          </li>
          <li class="flex items-center gap-2">
            <i class="fa-solid fa-envelope fa-xl"></i>
            <a href="mailto:Meshwark@support.com" class="hover:underline">Meshwark&#64;support.com</a>
          </li>
        </ul>
      </div>
      <div>
        <h4 class="font-bold md:text-xl mb-8">{{"FOOTER.SOCIAL"|translate}}</h4>
        <div class="flex gap-3 text-2xl mb-4">
          <a href="https://www.facebook.com/people/Meshwark/61577784135976/?rdid=6AJRS2Z0h70bTo3F&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1CAXUfZALC%2F" target="_blank" rel="noopener" class="hover:text-light-blue transition-colors"><i class="fab fa-facebook-square"></i></a>
          <a href="https://twitter.com" target="_blank" rel="noopener" class="hover:text-light-blue transition-colors"><i class="fab fa-twitter-square"></i></a>
          <a href="https://www.instagram.com/accounts/login/?next=%2Fmeshwarkteam%2F&source=omni_redirect" target="_blank" rel="noopener" class="hover:text-light-blue transition-colors"><i class="fab fa-instagram-square"></i></a>
          <a href="https://youtube.com" target="_blank" rel="noopener" class="hover:text-light-blue transition-colors"><i class="fab fa-youtube-square"></i></a>
        </div>
      </div>
    </div>
  </div>

  <hr class="border-grayLight w-full my-5 border-1 relative z-10" />

  <div class="text-center text-sm pt-6 my-1 relative z-10">
    &copy; {{"FOOTER.COPYRIGHT"|translate}} 
  </div>
</footer>
