<!-- to show confirm delete message -->
<div>
<p-toast position="top-right"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>

<h1 class="text-center text-3xl font-bold">Cars List</h1>

<div class="flex flex-col-reverse md:flex-row gap-4 ml-4 mr-4 pl-12 mt-2">
  <!-- cars-container -->
  <div class="car-container border border-gray-200 rounded-lg bg-white shadow-sm p-4 flex-1">

    <p-tabView class="my-custom-tabs">
      <p-tabPanel header="All Cars">
        <div class="flex mt-4 gap-6">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-4 flex-1">
            <p-card
              *ngFor="let car of cars"
              (click)="selectCar(car)"
              header=" {{ car.licensePlate }}"
              class="cursor-pointer hover:shadow-lg transition duration-300"
            >
            <hr class="my-2 border-gray-200" />
            <div class="flex items-center gap-2">
              <i class="pi pi-car text-gray-400"></i>
              <p>{{ car.brand }}</p>
            </div>
            <div class="flex items-center gap-2">
              <i class="pi pi-tag text-gray-400"></i>
              <p>{{ car.type }}</p>
            </div>
            <div class="flex items-center gap-2">
              <i class="pi pi-cog text-gray-400"></i>
              <p>{{ car.model }}</p>
            </div>
            <div class="flex items-center gap-2">
              <i class="pi pi-dollar text-gray-400"></i>
              <p>{{ car.totalPricePerDay }} / day</p>
            </div>
            </p-card>
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Available">
        <div class="flex mt-4 gap-6">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4 flex-1">
            <p-card
              *ngFor="let car of availableCars"
              (click)="selectCar(car)"
              header="{{ car.licensePlate }}"
              subheader="Available"
              class="cursor-pointer hover:shadow-lg transition duration-300"
            >
            <hr class="my-2 border-gray-200" />
            <div class="flex items-center gap-2">
              <i class="pi pi-car text-gray-400"></i>
              <p>{{ car.brand }}</p>
            </div>
            <div class="flex items-center gap-2">
              <i class="pi pi-tag text-gray-400"></i>
              <p>{{ car.type }}</p>
            </div>
            <div class="flex items-center gap-2">
              <i class="pi pi-cog text-gray-400"></i>
              <p>{{ car.model }}</p>
            </div>
            <div class="flex items-center gap-2">
              <i class="pi pi-dollar text-gray-400"></i>
              <p>{{ car.rentalRatePerDay}} / day</p>
            </div>
            </p-card>
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Rented">
        <div class="flex mt-4 gap-6">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
            <p-card
              *ngFor="let car of rentedCars"
              (click)="selectCar(car)"
              header="{{ car.licensePlate }}"
              subheader="Rented"
              class="cursor-pointer hover:shadow-lg transition duration-300"
            >
            <hr class="my-2 border-gray-200" />
            <div class="flex items-center gap-2">
              <i class="pi pi-compass text-gray-500"></i>
              <p>{{ car.odometerReading }} km</p>
            </div>
            <hr class="my-2 border-gray-200" />
            
            <div class="flex items-center gap-2">
              <i class="pi pi-calendar-clock text-gray-500"></i>
              <p>{{ car.expectedReturnDate }}</p>
            </div>
            </p-card>
          </div>
        </div>
      </p-tabPanel>

      <!-- under maintenance -->
       <p-tabPanel header="Under Maintenance">
        <div class="flex mt-4 gap-6">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
            <p-card
              *ngFor="let car of underMaintenanceCars"
              (click)="selectCar(car)"
              header="{{ car.licensePlate }}"
              subheader="Under Maintenance"
              class="cursor-pointer hover:shadow-lg transition duration-300"
            >
              <hr class="my-2 border-gray-200" />
              <div class="flex items-center gap-2">
                <i class="pi pi-wrench text-yellow-500"></i>
                <p>{{ car.brand }}</p>
              </div>
              <div class="flex items-center gap-2">
                <i class="pi pi-tag text-gray-400"></i>
                <p>{{ car.type }}</p>
              </div>
              <div class="flex items-center gap-2">
                <i class="pi pi-cog text-gray-400"></i>
                <p>{{ car.model }}</p>
              </div>
              <div class="flex items-center gap-2">
                <i class="pi pi-dollar text-gray-400"></i>
                <p>{{ car.rentalRatePerDay }} / day</p>
              </div>
            </p-card>
          </div>
        </div>
      </p-tabPanel>



       <!--pending or approved or rejected -->
       <p-tabPanel header="Pending cars">
        <div class="flex mt-4 gap-6">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
            <p-card
              *ngFor="let car of pendingCars"
              (click)="selectCar(car)"
              header="{{ car.licensePlate }}"
              subheader="Pending"
              class="cursor-pointer hover:shadow-lg transition duration-300"
            >
              <hr class="my-2 border-gray-200" />
              <div class="flex items-center gap-2"><i class="pi pi-car text-gray-400"></i> <p>{{ car.brand }}</p></div>
              <div class="flex items-center gap-2"><i class="pi pi-tag text-gray-400"></i> <p>{{ car.type }}</p></div>
              <div class="flex items-center gap-2"><i class="pi pi-cog text-gray-400"></i> <p>{{ car.model }}</p></div>
              <div class="flex items-center gap-2"><i class="pi pi-dollar text-gray-400"></i> <p>{{ car.rentalRatePerDay }} / day</p></div>
            </p-card>
          </div>
        </div>
      </p-tabPanel>


    <p-tabPanel header="Approved">
  <div class="flex mt-4 gap-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
      <p-card
        *ngFor="let car of approvedCars"
        (click)="selectCar(car)"
        header="{{ car.licensePlate }}"
        subheader="Approved"
        class="cursor-pointer hover:shadow-lg transition duration-300"
      >
        <hr class="my-2 border-gray-200" />
        <div class="flex items-center gap-2"><i class="pi pi-car text-gray-400"></i> <p>{{ car.brand }}</p></div>
        <div class="flex items-center gap-2"><i class="pi pi-tag text-gray-400"></i> <p>{{ car.type }}</p></div>
        <div class="flex items-center gap-2"><i class="pi pi-cog text-gray-400"></i> <p>{{ car.model }}</p></div>
        <div class="flex items-center gap-2"><i class="pi pi-dollar text-gray-400"></i> <p>{{ car.rentalRatePerDay }} / day</p></div>
      </p-card>
    </div>
  </div>
</p-tabPanel>


<p-tabPanel header="Rejected">
  <div class="flex mt-4 gap-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
      <p-card
        *ngFor="let car of rejectedCars"
        (click)="selectCar(car)"
        header="{{ car.licensePlate }}"
        subheader="Rejected"
        class="cursor-pointer hover:shadow-lg transition duration-300"
      >
        <hr class="my-2 border-gray-200" />
        <div class="flex items-center gap-2"><i class="pi pi-car text-gray-400"></i> <p>{{ car.brand }}</p></div>
        <div class="flex items-center gap-2"><i class="pi pi-tag text-gray-400"></i> <p>{{ car.type }}</p></div>
        <div class="flex items-center gap-2"><i class="pi pi-cog text-gray-400"></i> <p>{{ car.model }}</p></div>
        <div class="flex items-center gap-2"><i class="pi pi-dollar text-gray-400"></i> <p>{{ car.rentalRatePerDay }} / day</p></div>
      </p-card>
    </div>
  </div>
</p-tabPanel>

    </p-tabView>

   



  </div>

  <!-- Car Details -->
  <div
    *ngIf="selectedCar"
    class="w-full md:w-[350px] bg-white bg-opacity-70  border border-gray-200  rounded-lg p-4 shadow-lg h-fit sticky top-20"
  >
    <div class="flex justify-between items-center mb-2">
      <h3 class="text-lg font-semibold">{{ selectedCar.brand }} {{ selectedCar.model }}</h3>
      <button (click)="selectedCar = null" class="cursor-pointer text-gray-500 hover:text-red-500"><i class="pi pi-times"></i></button>
    </div>
    <img [src]="selectedCar.carPhotos[0]" alt="Car Image" class="w-full mb-4 rounded-md">
    <p><strong>Year:</strong> {{ selectedCar.year }}</p>
    <p><strong>Plate:</strong> {{ selectedCar.licensePlate }}</p>
    <p><strong>Type:</strong> {{ selectedCar.type }}</p>
    <p><strong>Fuel Type:</strong> {{ selectedCar.fuel_type}}</p>
    <p><strong>Seats:</strong> {{ selectedCar.seats }}</p>
    <p><strong>rental Rate:</strong> EGP {{ selectedCar.rentalRatePerDay }} / day</p>


    <!-- in case => occupied car -->
   <div *ngIf="selectedCar.availabilityStatus == 'Rented'">
    <hr class="my-2 border-gray-200"/>
    <div class="flex items-center gap-2 mb-2">
      <i class="pi pi-compass text-gray-400"></i>
      <span>Odometer Reading: {{ selectedCar.odometerReading }} km</span>
    </div>
    <div class="flex items-center gap-2 mb-2">
      <i class="pi pi pi-calendar-clock text-gray-400"></i>
      <span>Expected Return date: {{ selectedCar.expectedReturnDate }}</span>
    </div>
   </div>

   <!-- edit / delete -->

    <div class="flex justify-end gap-3 mt-4">
      <button
        (click)="editCar(selectedCar)"
        [disabled]="selectedCar.availabilityStatus == 'Rented'"
        class="px-3 py-1 bg-blue-500 hover:bg-blue-600 text-white rounded flex items-center gap-2 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
      >
        <i class="pi pi-pencil"></i>
        Edit
      </button>
  
      <button
        (click)="confirmDeleteCar(selectedCar._id!)"
        [disabled]="selectedCar.availabilityStatus == 'Rented'"
        class="px-3 py-1 bg-red-500 hover:bg-red-600 text-white rounded flex items-center gap-2 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
      >
        <i class="pi pi-trash"></i>
        Delete
      </button>

      

    </div>
  </div>

  

</div>
