<section class="max-w-[1200px] mx-auto py-8 md:py-12 px-4 sm:px-6 lg:px-8 text-center">
  <h2 class="text-2xl sm:text-3xl md:text-4xl mb-6 md:mb-8 uppercase">Your Guide To Rently</h2>

  <p class="max-w-[800px] mx-auto mb-8 sm:mb-12 md:mb-16 text-gray-600 leading-relaxed text-base sm:text-lg">
    Welcome to Rently – where convenience meets the open road! Whether you're planning a weekend getaway, a business trip, or just need a reliable ride, we make car rental effortless. With a diverse fleet, flexible booking, and competitive rates, your perfect car is just a few clicks away. Start your journey with Rently today!
  </p>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-20 lg:gap-8 pt-6 md:pt-8">

    <div class="relative flex flex-col items-center rounded-lg shadow-md border-1 border-gray-300 hover:shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105 mx-auto w-full max-w-[280px] sm:max-w-none"
    onmouseover="this.querySelector('#calender-icon').src='icons/calender.gif'; this.querySelector('#calender-icon').classList.add('scale-110')"
    onmouseout="this.querySelector('#calender-icon').src='icons/calender.png'; this.querySelector('#calender-icon').classList.remove('scale-110')">
     <div class="relative bg-gray-200 h-15 sm:h-20 w-full rounded-t-lg">
       <span class="absolute -top-10 sm:-top-12 left-1/2 -translate-x-1/2 w-20 h-20 sm:w-25 sm:h-25 bg-[var(--color-light-blue)] text-white text-xl rounded-full flex items-center justify-center">
         <img id="calender-icon" src="icons/calender.png" class="w-12 h-12 sm:w-14 sm:h-14 transition-all duration-300"/>
       </span>
     </div>
     <div class="relative p-4 sm:p-6 pb-8 bg-white w-full h-36 sm:h-40 rounded-b-lg">
       <h3 class="mb-2 sm:mb-3 text-lg sm:text-xl uppercase">SELECT DATE</h3>
       <p class="text-gray-600 mb-3 sm:mb-4 text-sm sm:text-base">Select your pick-up date</p>
       <span class="absolute -bottom-1/10 left-1/2 -translate-x-1/2 w-10 h-10 bg-[var(--color-dark-blue)] text-white text-md rounded-full flex items-center justify-center">01</span>
     </div>
    </div>

    <div class="relative flex flex-col items-center rounded-lg shadow-md border-1 border-gray-300 hover:shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105 mx-auto w-full max-w-[280px] sm:max-w-none"
    onmouseover="this.querySelector('#booking-icon').src='icons/booking.gif'; this.querySelector('#booking-icon').classList.add('scale-110')"
    onmouseout="this.querySelector('#booking-icon').src='icons/booking.png'; this.querySelector('#booking-icon').classList.remove('scale-110')">
     <div class="relative bg-gray-200 h-15 sm:h-20 w-full rounded-t-lg">
       <span class="absolute -top-10 sm:-top-12 left-1/2 -translate-x-1/2 w-20 h-20 sm:w-25 sm:h-25  bg-[var(--color-dark-blue)]  text-white text-xl rounded-full flex items-center justify-center">
         <img id="booking-icon" src="icons/booking.png" class="w-12 h-12 sm:w-14 sm:h-14 transition-all duration-300"/>
       </span>
     </div>
     <div class="relative p-4 sm:p-6 pb-8 bg-white w-full h-36 sm:h-40 rounded-b-lg">
       <h3 class="mb-2 sm:mb-3 text-lg sm:text-xl uppercase">BOOK A CAR</h3>
       <p class="text-gray-600 mb-3 sm:mb-4 text-sm sm:text-base">Select from variety choices of cars</p>
       <span class="absolute -bottom-1/10 left-1/2 -translate-x-1/2 w-10 h-10 bg-[var(--color-light-blue)] text-white text-md rounded-full flex items-center justify-center">02</span>
     </div>
    </div>

    <div class="relative flex flex-col items-center rounded-lg shadow-md border-1 border-gray-300 hover:shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105 mx-auto w-full max-w-[280px] sm:max-w-none"
    onmouseover="this.querySelector('#money-icon').src='icons/money.gif'; this.querySelector('#money-icon').classList.add('scale-110')"
    onmouseout="this.querySelector('#money-icon').src='icons/money.png'; this.querySelector('#money-icon').classList.remove('scale-110')">
     <div class="relative bg-gray-200 h-15 sm:h-20 w-full rounded-t-lg">
       <span class="absolute -top-10 sm:-top-12 left-1/2 -translate-x-1/2 w-20 h-20 sm:w-25 sm:h-25 bg-[var(--color-light-blue)] text-white text-xl rounded-full flex items-center justify-center">
         <img id="money-icon" src="icons/money.png" class="w-12 h-12 sm:w-14 sm:h-14 transition-all duration-300"/>
       </span>
     </div>
     <div class="relative p-4 sm:p-6 pb-8 bg-white w-full h-36 sm:h-40 rounded-b-lg">
       <h3 class="mb-2 sm:mb-3 text-lg sm:text-xl uppercase">PAYMENTS</h3>
       <p class="text-gray-600 mb-3 sm:mb-4 text-sm sm:text-base">Choose your most convenient payment method</p>
       <span class="absolute -bottom-1/10 left-1/2 -translate-x-1/2 w-10 h-10 bg-[var(--color-dark-blue)] text-white text-md rounded-full flex items-center justify-center">03</span>
     </div>
    </div>

    <div class="relative flex flex-col items-center rounded-lg shadow-md border-1 border-gray-300 hover:shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105 mx-auto w-full max-w-[280px] sm:max-w-none"
    onmouseover="this.querySelector('#smile-icon').src='icons/smile.gif'; this.querySelector('#smile-icon').classList.add('scale-110')"
    onmouseout="this.querySelector('#smile-icon').src='icons/smile.png'; this.querySelector('#smile-icon').classList.remove('scale-110')">
     <div class="relative bg-gray-200 h-15 sm:h-20 w-full rounded-t-lg">
       <span class="absolute -top-10 sm:-top-12 left-1/2 -translate-x-1/2 w-20 h-20 sm:w-25 sm:h-25 bg-[var(--color-dark-blue)] text-white text-xl rounded-full flex items-center justify-center">
         <img id="smile-icon" src="icons/smile.png" class="w-12 h-12 sm:w-14 sm:h-14 transition-all duration-300"/>
       </span>
     </div>
     <div class="relative p-4 sm:p-6 pb-8 bg-white w-full h-36 sm:h-40 rounded-b-lg">
       <h3 class="mb-2 sm:mb-3 text-lg sm:text-xl uppercase">ENJOY THE CAR</h3>
       <p class="text-gray-600 mb-3 sm:mb-4 text-sm sm:text-base">Collect your keys and hit the road</p>
       <span class="absolute -bottom-1/10 left-1/2 -translate-x-1/2 w-10 h-10  bg-[var(--color-light-blue)] text-white text-md rounded-full flex items-center justify-center">04</span>
     </div>
    </div>

  </div>
</section>
