<app-layout>
  <app-homebanner></app-homebanner>
  <p-toast></p-toast>
  <app-car-brands></app-car-brands>
  <div class="grid grid-cols-1">
    <app-most-popular></app-most-popular>
  </div>
  <div class="grid grid-cols-1">
    <app-nearby-cars></app-nearby-cars>
  </div>
  <app-promo-cards></app-promo-cards>
  <app-footer></app-footer>


  <div class="card flex justify-center">
    <p-drawer [(visible)]="visible" position="right" styleClass="!w-full md:!w-80 lg:!w-[30rem]">
      <ng-template #header>
        <div class="flex items-center gap-2">
          <p-avatar
            image="https://plus.unsplash.com/premium_photo-1682089468743-5a31e96f8dd3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            shape="circle" />
          <span class="font-bold">{{selectedCar?.agent?.company_name}}</span>
        </div>
      </ng-template>
      <ng-template #content>
        <div>
          <app-car-slider [carImages]="selectedCar?.carPhotos"></app-car-slider>
        </div>
        <div class="flex justify-between pt-5">
          <p class="font-semibold text-[#8c8c8c] text-sm">{{selectedCar?.brand}}</p>
        </div>
        <div class="flex justify-between pb-3">
          <p class="font-bold text-lg">{{selectedCar?.brand}} {{selectedCar?.model}} {{selectedCar?.year}}</p>
          <p class="font-semibold">EG {{selectedCar?.totalPricePerHour}} <span
              class="text-sm text-[#8c8c8c]">/hour</span>
          </p>
        </div>
        <div class="card">
          <p-tabs value="0">
            <p-tablist>
              <p-tab value="0">Rent details</p-tab>
              <p-tab value="1">Vehicle info</p-tab>
              <p-tab value="2">Booking History</p-tab>
            </p-tablist>
            <p-tabpanels>
              <p-tabpanel value="0">
                @if (selectedCar?.agent?.location) {
                <app-map [carLocation]="selectedCarLocation" [userLocation]="userLocation || undefined"
                  [enableDeliverySelection]="true" (deliveryLocationSelected)="onDeliveryLocationSelected($event)">
                </app-map>
                } @else {
                <div class="w-full h-[250px] bg-gray-100 rounded-lg flex items-center justify-center">
                  <p class="text-gray-500">Location not available</p>
                </div>
                }

                <!-- Use the new BookingDetailsComponent -->
                <app-booking-details [selectedCar]="selectedCar" [pickupDate]="pickupDate" [dropoffDate]="dropoffDate"
                  [withDriver]="withDriver" [minDate]="minDate" [minDropoffDate]="minDropoffDate"
                  [rentalDuration]="rentalDuration" [totalPrice]="totalPrice"
                  (pickupDateChange)="onPickupDateChangeFromComponent($event)"
                  (dropoffDateChange)="onDropoffDateChangeFromComponent($event)"
                  (withDriverChange)="onWithDriverChangeFromComponent($event)"
                  (pickupDateValidation)="onPickupDateChange()" (dropoffDateValidation)="onDropoffDateChange()">
                </app-booking-details>

                <!-- Use the new BookingActionComponent -->
                <app-booking-action [selectedCar]="selectedCar" [isBooking]="isBooking" [pickupDate]="pickupDate"
                  [dropoffDate]="dropoffDate" [isValidDateRange]="isValidDateRange()" (bookVehicle)="bookVehicle()">
                </app-booking-action>
              </p-tabpanel>

              <p-tabpanel value="1">
                <!-- Use the new VehicleInfoComponent -->
                <app-vehicle-info [selectedCar]="selectedCar"></app-vehicle-info>
              </p-tabpanel>

              <p-tabpanel value="2">
                <!-- Use the new BookingHistoryComponent -->
                <app-booking-history [carBookingHistory]="carBookingHistory"
                  [isLoadingBookingHistory]="isLoadingBookingHistory">
                </app-booking-history>
              </p-tabpanel>
            </p-tabpanels>
          </p-tabs>
        </div>
      </ng-template>
    </p-drawer>
  </div>

  <!-- Use the new AgreementModalComponent -->
  <app-agreement-modal [(visible)]="showAgreementModal" [agreement]="agreement" [signatureData]="signatureData"
    [isSubmittingSignature]="isSubmittingSignature" [isDownloading]="isDownloading"
    [isProcessingPayment]="isProcessingPayment" [totalPrice]="totalPrice" [isBrowser]="isBrowser"
    (signatureChange)="onSignatureChange($event)" (signatureStart)="onSignatureStart()"
    (signatureEnd)="onSignatureEnd()" (submitSignature)="submitSignature()" (skipSigning)="skipSigningAndProceed()"
    (reviewDocument)="reviewSignedDocument()" (downloadAgreement)="downloadAgreement()"
    (proceedToPayment)="proceedToPayment()">
  </app-agreement-modal>
</app-layout>
