
<!-- <p>home works!</p>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 p-4 m-5">
  @for (car of cars; track car.car_id) {
    <app-card [carDetails]="car" fromWho="home"></app-card>
  }
  @if (cars.length === 0) {
    <p class="col-span-full text-center text-gray-500">No cars available</p>
  }
</div>

<div class="card flex justify-center">
  <p-button label="Check" />
</div> -->

<!-- <app-card-carousel [carDetails]="cars" fromWho="landing"></app-card-carousel> -->
<app-most-popular></app-most-popular>
<app-nearby-cars></app-nearby-cars>
<app-car-brands></app-car-brands>
