/* You can add global styles to this file, and also import other style files */



@import "tailwindcss";
@plugin "tailwindcss-primeui";

/* @import "primeicons/primeicons.css";
@import 'primeng/resources/themes/saga-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css'; */


/* @import 'primeng/resources/themes/aura-light-blue/theme.css'; */



@theme {
  --color-light-blue: #007EFC;
  --color-dark-blue: #0D274E;
  /* --color-white: #FFFFFF; */
  --color-grayLight: #F4F6F6;
  --color-red: #F0334A;
}
