<section
    class="sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r-[1.5px] border-[#e8e8e8] pb-5 pt-28 max-md:hidden">
    <div class="flex flex-col w-full flex-1 gap-10 px-6">
        @for (link of links; track link.img) {
        <a [routerLink]="link.route" routerLinkActive="active"
            class="nav-link rounded-full p-3 transition-all duration-300"
            [style.background-color]="rla.isActive ? '#007efc' : 'transparent'"
            [style.padding]="rla.isActive ? '12px' : '12px'" #rla="routerLinkActive">
            <i class="pi pi-{{link.img}}" [style.color]="rla.isActive ? 'white' : '#d2d2d2'"
                [style.transform]="rla.isActive ? 'scale(1.1)' : 'scale(1)'"
                style="font-size: 1.3rem; transition: all 0.3s ease"></i>
        </a>
        }
    </div>
</section>